@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
/* font-family: "Mozilla Text", sans-serif; */
.logo-font {
  font-family: 'Playfair Display', serif;
}
.h1
{
  font-family: "Mozilla Text", sans-serif;
  font-weight: 900;
}
